Repository Point72/csp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

.github/CODEOWNERS:

# Team Review
* @robambalu @AdamGlustein @svatasoiu @alexddobkin

# Packaging code
conda @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
CMakeLists.txt @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
Makefile @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
MANIFEST.in @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
pyproject.toml @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
setup.py @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
vcpkg.json @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine

# CI/CD
.github @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine
ci @robambalu @AdamGlustein @svatasoiu @alexddobkin @ptomecek @timkpaine

# Administrative
.github/CODEOWNERS @robambalu
LICENSE @ptomecek @timkpaine
NOTICE @ptomecek @timkpaine

CSP 0.13.1 patch release
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

CSP 0.13.1 patch release (#651)
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Minor fixes to development instructions using conda
  Makefile
  docs/wiki/dev-guides/Build-CSP-from-Source.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Minor fixes to development instructions using conda (#652)
  Makefile
  docs/wiki/dev-guides/Build-CSP-from-Source.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Fix stale docs about number of wheels
  docs/wiki/dev-guides/Release-Process.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

KafkaAdapter - fix new bug in degenerate case in kafka adapter where more consumer threads are requested than there are partitions on a topic
  cpp/csp/adapters/kafka/KafkaConsumer.cpp
  cpp/csp/adapters/kafka/KafkaConsumer.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

KafkaAdapter - fix new bug in degenerate case in kafka adapter where more consumer threads are requested than there are partitions on a topic (#654)
  cpp/csp/adapters/kafka/KafkaConsumer.cpp
  cpp/csp/adapters/kafka/KafkaConsumer.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

CSP 0.13.2 patch release
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

CSP 0.13.2 patch release (#655)
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

WIP PR comments
  cpp/csp/engine/Struct.cpp
  cpp/csp/engine/Struct.h
  csp/impl/struct.py
  csp/tests/test_strict_structs.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Fix nasty bug where Kafka adapter in Burst mode gave wrong Edge type
  csp/adapters/kafka.py
  csp/tests/adapters/test_kafka.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

datetime.datetime.utcnow() is deprecated, replace with a central utility
  csp/impl/pandas_accessor.py
  csp/impl/pandas_perspective.py
  csp/tests/adapters/test_kafka.py
  csp/tests/adapters/test_parquet.py
  csp/tests/adapters/test_perspective.py
  csp/tests/adapters/test_status.py
  csp/tests/impl/test_dateframe.py
  csp/tests/impl/test_enum.py
  csp/tests/impl/test_genericpushadapter.py
  csp/tests/impl/test_outputadapter.py
  csp/tests/impl/test_pandas_perspective.py
  csp/tests/impl/test_pushadapter.py
  csp/tests/impl/test_pushpulladapter.py
  csp/tests/impl/test_struct.py
  csp/tests/impl/wiring/test_threaded_runtime.py
  csp/tests/test_baselib.py
  csp/tests/test_dynamic.py
  csp/tests/test_engine.py
  csp/tests/test_history.py
  csp/tests/test_random.py
  csp/tests/test_type_checking.py
  csp/tests/test_utils/__init__.py
  csp/tests/test_utils/test_datetime.py
  csp/utils/datetime.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Force push_mode to be passed as a keyword argument, error if it is passed positionally
  csp/adapters/kafka.py
  csp/adapters/parquet.py
  csp/impl/wiring/adapters.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

add in_realtime builtin for sim to realtime graph execution
  cpp/csp/python/cspimpl.cpp
  csp/impl/builtin_functions.py
  csp/impl/wiring/node_parser.py
  csp/tests/test_engine.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Force push_mode to be passed as a keyword argument for input adapters (#657)
  csp/adapters/kafka.py
  csp/adapters/parquet.py
  csp/impl/wiring/adapters.py
  csp/tests/adapters/test_kafka.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

PR comments
  cpp/csp/adapters/websocket/ClientAdapterManager.cpp
  cpp/csp/engine/InputAdapter.h
  cpp/csp/engine/Struct.cpp
  cpp/csp/engine/Struct.h
  cpp/csp/python/PyStructToDict.cpp
  cpp/csp/python/PyStructToJson.cpp
  csp/impl/struct.py
  csp/tests/test_strict_structs.py
  docs/wiki/api-references/csp.Struct-API.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Store set and none masks in the same vector, provide accessors
  cpp/csp/engine/Struct.cpp
  cpp/csp/engine/Struct.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Tests: add collectts test case, merge wiring_access tests, add fromts test
  cpp/csp/cppnodes/baselibimpl.cpp
  csp/tests/test_strict_structs.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Update pydantic schema
  csp/impl/struct.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Add tests for pydantic validation
  csp/tests/impl/test_struct.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Add unset field semantics for structs ("strict structs") (#607)
  cpp/csp/cppnodes/baselibimpl.cpp
  cpp/csp/engine/InputAdapter.h
  cpp/csp/engine/Struct.cpp
  cpp/csp/engine/Struct.h
  cpp/csp/python/PyStruct.cpp
  cpp/csp/python/PyStruct.h
  cpp/csp/python/PyStructToDict.cpp
  cpp/csp/python/PyStructToJson.cpp
  csp/impl/struct.py
  csp/impl/types/typing_utils.py
  csp/impl/wiring/edge.py
  csp/tests/impl/test_struct.py
  csp/tests/test_strict_structs.py
  docs/wiki/api-references/csp.Struct-API.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

datetime.datetime.utcnow() is deprecated, replace with a central utility (#658)
  csp/impl/pandas_accessor.py
  csp/impl/pandas_perspective.py
  csp/tests/adapters/test_kafka.py
  csp/tests/adapters/test_parquet.py
  csp/tests/adapters/test_perspective.py
  csp/tests/adapters/test_status.py
  csp/tests/impl/test_dateframe.py
  csp/tests/impl/test_enum.py
  csp/tests/impl/test_genericpushadapter.py
  csp/tests/impl/test_outputadapter.py
  csp/tests/impl/test_pandas_perspective.py
  csp/tests/impl/test_pushadapter.py
  csp/tests/impl/test_pushpulladapter.py
  csp/tests/impl/test_struct.py
  csp/tests/impl/wiring/test_threaded_runtime.py
  csp/tests/test_baselib.py
  csp/tests/test_dynamic.py
  csp/tests/test_engine.py
  csp/tests/test_history.py
  csp/tests/test_random.py
  csp/tests/test_type_checking.py
  csp/tests/test_utils/__init__.py
  csp/tests/test_utils/test_datetime.py
  csp/utils/datetime.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Release v0.13.3
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Release v0.14.0
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Release v0.14.0 (#660)
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

address functiondef args warning
  csp/impl/wiring/graph_parser.py
  csp/impl/wiring/node_parser.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

migrate examples to the utc_now utility instead of datetime.utcnow()
  examples/02_intermediate/e1_feedback.py
  examples/03_using_adapters/kafka/e1_kafka.py
  examples/03_using_adapters/websocket/e1_websocket_client.py
  examples/03_using_adapters/websocket/e2_websocket_output.py
  examples/04_writing_adapters/e1_generic_push_adapter.py
  examples/04_writing_adapters/e4_pushinput.py
  examples/04_writing_adapters/e5_adaptermanager_pushinput.py
  examples/04_writing_adapters/e6_outputadapter.py
  examples/04_writing_adapters/e7_adaptermanager_inputoutput.py
  examples/06_advanced/e1_dynamic.py
  examples/06_advanced/e2_pandas_extension.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

fixed bugs, enabled osx-arm wheel
  .github/workflows/conda.yml
  conda/dev-environment-osx.yml
  conda/dev-environment-unix.yml
  conda/dev-environment-win.yml
  cpp/cmake/modules/FindDepsKafkaAdapter.cmake
  cpp/csp/adapters/kafka/CMakeLists.txt
  cpp/csp/adapters/kafka/KafkaPublisher.cpp
  cpp/csp/adapters/utils/AvroMessageStructConverter.cpp
  cpp/csp/adapters/utils/AvroMessageStructConverter.h
  cpp/csp/adapters/utils/AvroMessageWriter.h
  cpp/csp/adapters/utils/CMakeLists.txt
  cpp/csp/adapters/utils/MessageStructConverter.cpp
  csp/tests/adapters/test_kafka.py
  docs/wiki/api-references/Input-Output-Adapters-API.md
  docs/wiki/dev-guides/Build-CSP-from-Source.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

fix: linted docs
  csp/tests/adapters/test_kafka.py
  docs/wiki/api-references/Input-Output-Adapters-API.md
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

fix: add /utf-8 flag for Windows MSVC builds
  CMakeLists.txt
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

fix: pin fmt to v11.x for avro-cpp compatibility on Windows
  conda/dev-environment-win.yml
  cpp/csp/adapters/utils/AvroMessageStructConverter.cpp
  cpp/csp/adapters/utils/AvroMessageStructConverter.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

messing around sketching c api for adapters
  cpp/csp/adapters/CMakeLists.txt
  cpp/csp/adapters/c/CMakeLists.txt
  cpp/csp/adapters/c/example/CMakeLists.txt
  cpp/csp/adapters/c/example/ExampleOutputAdapter.c
  cpp/csp/adapters/c/example/ExampleOutputAdapter.h
  cpp/csp/adapters/c/example/ExamplePushInputAdapter.c
  cpp/csp/adapters/c/example/ExamplePushInputAdapter.h
  cpp/csp/engine/OutputAdapterExtern.h
  cpp/csp/engine/c/CspType.h
  cpp/csp/engine/c/OutputAdapter.h
  cpp/csp/python/PyInputAdapterWrapper.h
  cpp/csp/python/adapters/CMakeLists.txt
  cpp/csp/python/adapters/c/CMakeLists.txt
  cpp/csp/python/adapters/c/exampleadapterimpl.c
  cpp/csp/python/c/CMakeLists.txt
  cpp/csp/python/c/PyOutputAdapter.h
  csp/adapters/c_example.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

fix: workaround for avro-cpp fmt formatter on Windows instead of pinning
  NOTICE
  conda/dev-environment-win.yml
  cpp/csp/adapters/utils/AvroMessageStructConverter.cpp
  cpp/csp/adapters/utils/AvroMessageStructConverter.h
Owners: @ptomecek, @timkpaine, @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

fix: workaround for avro-cpp fmt formatter on Windows
  cpp/csp/adapters/utils/AvroIncludes.h
  cpp/csp/adapters/utils/AvroMessageStructConverter.cpp
  cpp/csp/adapters/utils/AvroMessageStructConverter.h
  cpp/csp/adapters/utils/AvroMessageWriter.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

fix: patch avro-cpp headers at configure time for fmt v12 compatibility on Windows
  cpp/cmake/modules/FindAvro.cmake
  cpp/csp/adapters/utils/AvroIncludes.h
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin

Pin pandas<3 to fix sdist
  conda/dev-environment-unix.yml
  pyproject.toml
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

CSP compatibility with pandas 3.0
  .github/workflows/build.yml
  cpp/csp/cppnodes/statsimpl.h
  csp/impl/pandas_ext_type.py
  csp/tests/adapters/test_parquet.py
  csp/tests/impl/test_pandas.py
  csp/tests/impl/test_pandas_accessor.py
  csp/tests/impl/test_pandas_ext_type.py
  csp/tests/test_stats.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

CSP compatibility with pandas 3.0 (#669)
  .github/workflows/build.yml
  cpp/csp/cppnodes/statsimpl.h
  csp/impl/pandas_ext_type.py
  csp/tests/adapters/test_parquet.py
  csp/tests/impl/test_pandas.py
  csp/tests/impl/test_pandas_accessor.py
  csp/tests/impl/test_pandas_ext_type.py
  csp/tests/test_stats.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

Bump to 0.14.1
  CMakeLists.txt
  csp/__init__.py
  pyproject.toml
  setup.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine

WIP csp event loop
  cpp/csp/engine/RootEngine.cpp
  cpp/csp/engine/RootEngine.h
  cpp/csp/python/CMakeLists.txt
  cpp/csp/python/PyEngine.cpp
  cpp/csp/python/PyEventLoop.cpp
  cpp/csp/python/PyEventLoop.h
  csp/event_loop/__init__.py
  csp/event_loop/bridge.py
  csp/event_loop/bridge.pyi
  csp/event_loop/loop.py
  csp/event_loop/loop.pyi
  csp/event_loop/py.typed
  csp/tests/test_asyncio.py
  csp/tests/test_asyncio_bridge.py
  csp/tests/test_event_loop.py
  csp/tests/test_event_loop_bridge.py
  docs/wiki/_Sidebar.md
  docs/wiki/how-tos/Asyncio-Integration.md
  docs/wiki/how-tos/Event-Loop-Integration.md
  examples/06_advanced/e3_asyncio_integration.py
  examples/06_advanced/e4_csp_asyncio_integration.py
  examples/98_just_for_fun/e2_csp_fastapi.py
Owners: @robambalu, @AdamGlustein, @svatasoiu, @alexddobkin, @ptomecek, @timkpaine
